*/my_password.sh
*.bak

mpsoc/script/server/kc07/Readme
mpsoc/perl_gui/lib/mpsoc/*.MPSOC
!mpsoc/perl_gui/lib/mpsoc/mor1k_mpsoc.MPSOC
mpsoc/perl_gui/lib/soc/*.SOC
!mpsoc/perl_gui/lib/soc/mor1k_tile.SOC
mpsoc/src_c/netrace-1.0/*.o
mpsoc/remove_cycle/test/*

