*/my_password.sh
*.bak
*.swp
*.vstf

*/transcript
*/vsim.wlf


mpsoc/script/server/kc07/Readme
mpsoc/perl_gui/lib/mpsoc/*.MPSOC
!mpsoc/perl_gui/lib/mpsoc/mor1k_mpsoc.MPSOC
mpsoc/perl_gui/lib/soc/*.SOC
!mpsoc/perl_gui/lib/soc/mor1k_tile.SOC
mpsoc/src_c/netrace-1.0/*.o
mpsoc/remove_cycle/test/*


mpsoc/script/synfull/*.o
mpsoc/script/synfull/*.so
mpsoc/mpsoc_work/
mpsoc/script/synfull/tgen
mpsoc/script/synfull/vsim.wlf
mpsoc/script/synfull/wave.do
